:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-pale-cyan: hsl(193, 100%, 96%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Topography */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* Button */
.btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 6rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.btn--pink {
  background: var(--color-pink);
  color: #fff;
}

.btn--pink:hover {
  background: rgb(253, 82, 191, 0.75);
  transition: background 0.3s;
}

.btn--white {
  padding: 1rem 2.5rem;
  background: #fff;
  color: var(--color-dark-cyan);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.btn--white:hover {
  color: var(--color-grayish-blue);
  transition: color 0.3s;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
