:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-pale-cyan: hsl(193, 100%, 96%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Topography */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color-grayish-blue);
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-dark-cyan);
}

h1 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

/* Button */
.btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 2rem 8rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.btn--pink {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: var(--color-pink);
  color: var(--color-pale-cyan);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.btn--pink:hover {
  background: rgb(253, 82, 191, 0.75);
  transition: background 0.3s;
}

.btn--white {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background: #fff;
  color: var(--color-dark-cyan);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.btn--white:hover {
  color: var(--color-grayish-blue);
  transition: color 0.3s;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 5rem;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
  }

  .btn--pink {
    margin-top: 1rem;
    background: var(--color-pink);
    color: var(--color-pale-cyan);
  }
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 35% 65%;
  }

  .grid--1x2-middle {
    grid-template-columns: 63% 37%;
  }
}

/* Blocks */
.block {
  padding: 1.5rem 3.5rem;
}

.block--dark {
  background: var(--color-dark-cyan);
  color: var(--color-pale-cyan);
}

.block--feature {
  padding: 0 2rem;
}

.block__header {
  margin-top: 3rem;
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--hero {
  background: var(--color-pale-cyan);
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
}

.block__header-dark {
  color: var(--color-dark-cyan);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block--hero {
    background: var(--color-pale-cyan);
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
  }

  .block--feature {
    padding: 0;
  }

  .block__header-dark {
    margin-left: 10rem;
  }

  .block__header {
    text-align: left;
    align-self: center;
  }
}

/* Hero */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.logo {
  width: 50%;
  height: 50%;
  transform: translateY(5px);
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 13rem;
  }

  .logo {
    width: 80%;
    height: 80%;
    transform: translateY(5px);
  }

  .hero__image {
    max-width: 70%;
  }

  .hero--image {
    text-align: center;
  }
}

/* Feature */
.feature {
  margin-top: 6rem;
}

.feature__image {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.feature__image-middle {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

@media screen and (min-width: 768px) {
  .feature {
    margin-top: 10rem;
  }

  .feature__image {
    width: 60%;
  }

  .feature__image-middle {
    width: 60%;
  }

  .feature--image {
    text-align: right;
  }

  .feature--image-middle {
    text-align: left;
  }

  .feature:nth-of-type(odd) .feature--image {
    order: 1;
  }
}

/* Callouts */
.callout {
  margin: 15rem 2rem -10rem 2rem;
  padding: 4rem;
  border-radius: 20px;
  position: relative;
}

.callout .grid {
  justify-content: center;
}

.callout--primary {
  background: #fff;
  color: #fff;
}

.callout__heading {
  margin-top: 0;
  text-align: center;
}

.callout .btn {
  margin-bottom: 3rem;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout {
    margin: 15rem 2rem -10rem 2rem;
    padding: 4rem 20rem;
    border-radius: 20px;
    max-width: max-content;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .callout {
    margin: 15rem auto -10rem auto;
    padding: 4rem 20rem;
    border-radius: 20px;
    max-width: max-content;
    position: relative;
  }
}

/* Footer */
footer {
  background: gold;
}

.callout__sections {
  margin-top: 20rem;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0.7rem 0;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-pale-cyan);
}

.footer__section {
  padding: 2rem 0;
}

.fab {
  border: 1px solid var(--color-pale-cyan);
  padding: 1rem;
  border-radius: 100%;
}

.fa-facebook-f {
  border: 1px solid var(--color-pale-cyan);
  padding: 1rem 1.2rem;
  border-radius: 100%;
}

.fa-twitter {
  border: 1px solid var(--color-pale-cyan);
  padding: 1rem;
  text-align: center;
  border-radius: 100%;
}

.footer__section-content {
  padding: 1rem 0;
}

.footer__icons,
.footer__copyright {
  text-align: center;
}

.footer__copyright {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__section {
    padding: 0;
  }

  .footer_menu {
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }

  .footer__copyright {
    justify-items: end;
  }
}
