<footer class="block block--dark footer">
    <div class="container">
      <img class="footer__logo" src="images/logo.svg" alt="" />
    </div>
    <div class="container grid footer__sections">
      <section class="footer__section">
        <div class="footer__section-content">
          <img src="images/icon-location.svg" alt="" />
          <span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Doloribus vel distinctio obcaecati ipsam provident deserunt!
          </span>
        </div>
        <div class="footer__section-content">
          <img src="images/icon-phone.svg" alt="" />
          <span>+389 123 123 123</span>
        </div>
        <div class="footer__section-content">
          <img src="images/icon-email.svg" alt="" />
          <span>example@mail.com</span>
        </div>
      </section>
      <section class="grid footer_menu">
        <div>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">What Do We Do</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__section footer__icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </section>
    </div>
    <div class="container">
      <p class="grid footer__copyright">
        &#169 Copyright 2021 Huddle. All rights reserved.
      </p>
    </div>
  </footer>