<section class="block--hero">
  <div class="nav">
    <a href="/"><img class="logo" src="images/logo.svg" alt="" /></a>
    <button class="btn btn--white">Try It Free</button>
  </div>
  <div class="block grid grid--1x2">
    <div class="block__header">
      <h1 class="block__heading">Build The Community Your Fans Will Love</h1>
      <p>
        Huddie re-imagines the way we build communites. You have a voice, but so
        does your audience. Create connections with your users as you engage in
        genuine discussion.
      </p>
      <button class="btn btn--pink">Get Started For Free</button>
    </div>
    <div class="hero--image">
      <img class="hero__image" src="images/illustration-mockups.svg" alt="" />
    </div>
  </div>
</section>
